{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    {% block content %}
        <div class="billet">
            {% if billet.published_date %}
                <div class="date">
                    {{ billet.published_date }}
                </div>
            {% endif %}
            <h2>{{ billet.title }}</h2>
            <p>{{ billet.text|linebreaksbr }}</p>
        </div>
    {% endblock %}
</html>